---
import Bento from './Bento.astro';

export interface Props {
    t: any;
}

const { t } = Astro.props;
---

<section id="experiencia">
    <h2>{t.experience.title}</h2>
    <div class="experiencia-bento">
        <span></span>
        <Bento size="big">
            <p>{t.experience.description1}</p>
        </Bento>
        <Bento size="small">
            <p>{t.experience.description2}</p>
        </Bento>
        <Bento size="small">
            <p>{t.experience.description3}</p>
        </Bento>
        <Bento size="big">
            <p>{t.experience.description4}</p>
        </Bento>
    </div>
</section>

<style>
    section {
        width: 60%;
        max-width: 800px;
        margin: 0 auto;
        padding-top: 80px;

        position: relative;
    }

    h2 {
        margin-bottom: 20px;
        font-size: 1.2rem;
    }

    span {
        width: 270px;
        height: 270px;
        background-color: #ad2;
        filter: opacity(var(--experiencia-opacity));
        box-shadow: 0 0 70px 70px #ad2;
        position: absolute;
        left: 0;
        right: 0;
        top: 180px;
        margin: auto;
        border-radius: 50%;
        animation: electrify 3s infinite;
    }

    @keyframes electrify {
        0% {
            background-color: #ad2;
            transform: scale(1);
            box-shadow: 0 0 70px 70px #ad2, 0 0 20px 10px #ff0;
        }
        50% {
            background-color: #ff0;
            transform: scale(1.1);
            box-shadow: 0 0 80px 80px #ff0, 0 0 30px 15px #fff700;
        }
        100% {
            background-color: #ad2;
            transform: scale(1);
            box-shadow: 0 0 70px 70px #ad2, 0 0 20px 10px #ff0;
        }
    }

    .experiencia-bento {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 15px;
    }
</style>