---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/header/Header.astro';
import Main from '../../components/main/Main.astro';
import Experiencia from '../../components/experiencia/Experiencia.astro';
import Habilidades from '../../components/habilidades/Habilidades.astro';
import Proyectos from '../../components/proyectos/Proyectos.astro';
import Cursos from '../../components/cursos/Cursos.astro';
import Footer from '../../components/footer/Footer.astro';

import { getTranslations } from '../../utils/i18n';

const locale = 'en';
const t = getTranslations(locale);
---

<Layout>
	<Header t={t}/>	
	<Main t={t}/>
	<Experiencia t={t}/>
	<Habilidades t={t}/>
	<div class="proyectos-container">
		<Proyectos t={t}/>
	</div>
	<Cursos t={t}/>
	<Footer t={t}/>
</Layout>

<style>
	
	.proyectos-container {
		width: 100%;
		height: fit-content;
		margin-top: 100px;
		background-color: #fff;
		padding: 100px 0;
		border-radius: 30px;
	}

	@media screen and (max-width: 1057px) {
		.proyectos-container {
			padding-top: 50px;
		}
	}

</style>

<script>
	const body = document.querySelector('body');
	const mode = document.querySelector('.header-mode');

	mode.addEventListener("click", (e) => {
		body.classList.toggle('light-mode');

		if (!body.classList.contains('light-mode')) {
			mode.innerHTML = `
				<svg class="mode-svg" viewBox="-8.64 -8.64 41.28 41.28" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#000" stroke-width="1"><path d="m21.067 11.857-.642-.388.642.388Zm-8.924-8.924-.388-.642.388.642ZM21.25 12A9.25 9.25 0 0 1 12 21.25v1.5c5.937 0 10.75-4.813 10.75-10.75h-1.5ZM12 21.25A9.25 9.25 0 0 1 2.75 12h-1.5c0 5.937 4.813 10.75 10.75 10.75v-1.5ZM2.75 12A9.25 9.25 0 0 1 12 2.75v-1.5C6.063 1.25 1.25 6.063 1.25 12h1.5Zm12.75 2.25A5.75 5.75 0 0 1 9.75 8.5h-1.5a7.25 7.25 0 0 0 7.25 7.25v-1.5Zm4.925-2.781A5.746 5.746 0 0 1 15.5 14.25v1.5a7.247 7.247 0 0 0 6.21-3.505l-1.285-.776ZM9.75 8.5a5.747 5.747 0 0 1 2.781-4.925l-.776-1.284A7.246 7.246 0 0 0 8.25 8.5h1.5ZM12 2.75a.384.384 0 0 1-.268-.118.285.285 0 0 1-.082-.155c-.004-.031-.002-.121.105-.186l.776 1.284c.503-.304.665-.861.606-1.299-.062-.455-.42-1.026-1.137-1.026v1.5Zm9.71 9.495c-.066.107-.156.109-.187.105a.285.285 0 0 1-.155-.082.384.384 0 0 1-.118-.268h1.5c0-.717-.571-1.075-1.026-1.137-.438-.059-.995.103-1.299.606l1.284.776Z" fill="#000"/></svg>
			`;
		} else {
			mode.innerHTML = `
				<svg class="mode-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m-8-9H3m3.314-5.686L5.5 5.5m12.186.814L18.5 5.5M6.314 17.69l-.814.81m12.186-.81.814.81M21 12h-1m-4 0a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z"/></svg>
			`;
		}
	});
</script>