---

interface Props {
    num: string;
    autor: string;
    img: string;
    link: string;
}

const { num, autor, img, link } = Astro.props;

---

<div class="curso">
    <span>{num}</span>
    <div class="curso-content">
        <a href={`https://www.youtube.com/${autor}`} target="_blank" rel="noopener noreferrer" class="author">@{autor}</a>
        <a href={link} target="_blank" rel="noopener noreferrer">
            <img src={img} alt="curso">
        </a>
    </div>
</div>

<style>

    .curso {
        display: flex;
        gap: 10px;
        margin-bottom: 60px;

        & span {
            height: 35px;
            width: 35px;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;

            background-color: var(--color);
            color: var(--background-color); 
            font-size: 1.4rem;
            font-weight: 700;
            font-family: 'Itim', cursive;
        }
    }

    .curso-content {
        display: flex;
        flex-direction: column;
        gap: 7px;

        & a {
            text-decoration: none;
            color: var(--color-2);
            font-size: .8rem;
        }
    }

    @media screen and (max-width: 1057px) {
        .curso {
            width: 70%;
            max-width: 95vw;
        }
        .curso-content {
            width: 95%;
            & img {
                width: 100%;
            }

            & .author {
                text-align: left;
                width: 100px;
            }
        }
    }

    @media screen and (max-width: 850px) {
        .curso {
            width: 100%;
        }
    }

</style>